{% extends 'base.html.twig' %}
{% block title %}Administration - Lunettes - Bocasay!{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/login.css') }}" rel="stylesheet">{% endblock %}
{% block body %}
	<div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Identifiez-vous</h2>
        <input type="email" class="form-control" placeholder="Email" required autofocus>
        <input type="password" class="form-control" placeholder="Mots de passe" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Se souvenir de moi
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
      </form>

    </div>
	

          
{% endblock %}
